body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    
}
.left-links {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}
.right-links {
    display: flex;
    margin: 10px;
    padding: 20px;
    gap: 20px;
  
}
a {
    text-decoration: none;
     color: #F9FAF8;
}
.top-mid{
    display: flex;
    justify-content: space-between;
  
}
.left-text{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 300px;
}
.right-text{
display: flex;
padding: 150px;
background-color: grey;
height: 0px;
margin-top: 50px;

}
.button{
color: white;
background-color: #3882F6;
width: 100px;
border: none; 
padding: 6px 12px;
font-size: 14px;
border-radius: 4px;
}
.top {
    background-color: #1F2937;
   padding: 100px;
   padding-top: 0px;
}

.awesome-text {
    font-size: 48px;
    font-weight: 700px;
    color: #F9FAF8;
    margin: 0px;

}
.grey-text {
    font-size: 18px;
    color: #b8b9b9; 
   

}

.box {
 color: #F9FAF8;
}
.mid {
    display: flex;
    flex-direction: column;
    
}

.random-info {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 800;
    color: #1F2937;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap : 40px;
    margin-top: 40px;
}
li  {
    display: flex;
    
    color: white;
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    

}
.subtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    font-size: 15px;
    text-align: center;
    width: 600px;
    margin-left: 410px;
    margin-bottom: 100px;
}
.bottom-mid {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px;
}
.quote {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    width: 500px;
    margin-left: 400px;
    color: #1F2937;
}

.thor {
display: flex;
justify-content: center;
margin-left: 400px;

}

.bottom {
display: flex;
justify-content: center;
background-color:#3882F6;
width: 500px;
padding: 60px; 
margin: 100px;
margin-left: 420px;
height: 60px;
border-radius: 4px;
}

.text {
display: flex;
flex-direction: column;
margin: 5px;
}
.call {
font-weight: 700;
color: white;
margin: 0px;
padding: 0px;
border: 0px;
}
.signup {
    color: rgba(255, 255, 255, 0.71);
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 12;
    
}

.button-two {
display: flex;
border-radius: 4px;
color: white;
background-color: #3882F6;
border-color: white;
width : 200px;
height: 50px; 
justify-content: center;
align-items: center;
border-style: solid;
margin: 5px;
}